.row {
    display: table-row;
}
.cell {
    display: table-cell;
}

#pastek-input {
    font-family: monaco, monospace;
    font-size: 0.8rem;
}

#html-output {
    vertical-align: top;
    padding: 10px 15px;
    max-width: 80ex;
}
#html-output :first-child {
    margin-top: 0;
}

/* Output Styling */

code {
    background-color: #EEE;
    display: inline-block;
    padding: 1px 2px;
}

table {
    border-collapse: collapse;
}
table, tr, th, td {
    border: 1px solid #333;
}
td, th {
    padding: 3px 7px;
}
td p, th p {
    margin: 0;
}
