#input-container { display: none; }

#html-output { width: 100%; }

@page { size: 210mm 297mm; margin: 15mm 20mm; }

ul, p, table, h1, h2, h3, h4, h5, h6, pre, blockquote  { page-break-inside: avoid; }